@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome, @User.Identity!.Name!</h1>
    <p class="lead">You're logged in. This is the protected area of the demo app.</p>
</div>
